body {
    font-family: Arial, sans-serif;
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.search_form_button {
    margin-left: 10px;
}

.book_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}

.book_card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}