body {
    font-family: Arial, sans-serif;
}

.otp_request_container {
    width: 35%;
    padding: 16px;
    background-color: white;
    border: 1px grey;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: black;
}

.email_input {
    width: 99%;
    padding: 20px 0px 20px 4px;
    margin: 19px 0px;
    background: #f1f1f1;
    border: 1px grey;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
}

.email_input:focus {
    background-color: #ddd;
    outline: none;
}

.gen_otp_button {
    background-color: #1982cf;
    font-size: 1em;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.gen_otp_button:hover {
    opacity: 1;
}
